main > * {
  display: none;
  padding: 10px;
}
main > *:last-child {
  display: block;
}
main > *:target {
  display: block;
}
main > *:target ~ * {
  display: none;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}
main {
  position: absolute;
  top: 0;
  bottom: 0;

  margin-top: 63px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10px;
  width: 100%;
}
